@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 bg-zinc-950 text-zinc-100 antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /*tailwind css kullanımı için */
}